// Colors
$global-bg-primary: #04122d;
$global-bg-secondary: rgb(251, 250, 250);
$auxiliary-color: #EFAD00;
$auxiliary-color-font-header: #e9a300;
$auxiliary-color-soft: #00f7ff;
$auxiliary-color-softer: #00bec5fc;
$auxiliary-color-dark: #f05677;
$not-found-color: #121112;
$auxiliary-color-dark-transparency: rgba(186, 71, 95, 0.5);
$auxiliary-color-gradient: linear-gradient(#da6105, #6b0156);
$auxiliary-color-gradient-home: linear-gradient(#b04c00, #74005d);
$clear-color: #fff;
$auxiliary-light: #00c4cc;
$auxiliary-spotify: #1DD954;