@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.home {
    &__song-wrapper {
        background-image: $auxiliary-color-gradient-home;
        width: auto;
        margin: 1rem;
        padding-bottom: 1rem;
        border-radius: 1rem;

        @include tablet {
            width: 48rem;
            max-width: 48rem;
            margin: 3rem auto;
            padding: 1rem 0;
        }

        @include desktop {
            max-width: 60rem;
            margin: 3rem auto;
        }
    }
}